<div class="mt-4">
    <h3 style="margin: 100px 0px 10px 200px">POST PRODUCT</h3>
    <form method="POST" action="store" style="margin: 10px 200px 100px 200px;">
        <div class="form-group">
            <label for="MSP">MSP</label>
            <input type="text" class="form-control" id="MSP" name="MSP">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="cost">cost</label>
            <input type="text" class="form-control" id="cost" name="cost">
        </div>
        <div class="form-group">
            <label for="Product_Line">Product_Line</label>
            <input type="text" class="form-control" id="Product_Line" name="Product_Line">
        </div>
        <div class="form-group">
            <label for="image">image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="Product_Groups">Product_Groups</label>
            <input type="text" class="form-control" id="Product_Groups" name="Product_Groups">
        </div>
        <button type="submit" class="btn btn-primary">POST</button>
    </form>
</div>