    <div class="payment container">
        <div class="payment-steps">
            <div class="payment-line">

            </div>
            <div class="step-items">
                <div class="step-item ">
                    <p>Cart</p>
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="step-item ">
                    <p>Delivery address</p>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="step-item now">
                    <p>Payment</p>
                    <i class="fas fa-money-check-alt"></i>
                </div>
            </div>
        </div>
        <div class="payment-content row">
            <div class="payment-left">
                <div class="method-payment">
                    <p>Delivery method</p>
                    <div class="method-delivery-item">
                        <input type="radio" name="" id="">
                        <label for="">Courier delivery</label>
                    </div>
                </div>
                <div class="method-payment">
                    <p>Payment methods</p>
                    <p>All transactions are secure and encrypted. Credit card information will never be saved.</p>
                    <ul class="method-payment-list">
                        <li class="method-payment-item">
                            <input type="radio" name="pay-method" id="">
                            <label for="">Pay by credit card(OnePay)</label>
                            <img src="./img/visa.jpg" alt="" srcset="">
                        </li>
                        <li class="method-payment-item">
                            <input type="radio" name="pay-method" id="">
                            <label for="">Payment by ATM card(OnePay)</label>
                            <img src="./img/atm.jpg" alt="" srcset="">
                            <p>Support online payment over 38 popular banks in Vietnam.</p>
                        </li>
                        <li class="method-payment-item">
                            <input type="radio" name="pay-method" id="">
                            <label for="">Payment Momo</label>
                            <img src="./img/momo.jpg" alt="" srcset="">
                        </li>
                        <li class="method-payment-item">
                            <input type="radio" name="pay-method" id="">
                            <label for="">Collect money on the spot</label>
                        </li>
                    </ul>
                    <div class="delivery-bottom">
                        <a href=""><span>&#171;</span> Come back</a>
                        <button>Complete</button>
                    </div>

                </div>
            </div>
            <div class="payment-right">
                <div class="payment-button">
                    <input type="text" placeholder="Mã giảm giá / Quà tặng">
                    <button><i class="fas fa-check"></i></button>
                </div>
                <div class="payment-button">
                    <input type="text" placeholder="Mã cộng tác viên">
                    <button><i class="fas fa-check"></i></button>
                </div>
                <div class="payment-mnv">
                    <select name="" id="">
                        <option value="">Choose a loyalty code</option>
                        <option value="">D345</option>
                        <option value="">A324</option>
                        <option value="">A324</option>
                        <option value="">A324</option>
                    </select>
                </div>
                <div class="delivery-right">
                    <table>
                        <tr>
                            <th>Product's name</th>
                            <th>Discount</th>
                            <th>Amount</th>
                            <th>Total amount</th>
                        </tr>
                        <tr>
                            <td>############### <br> L / ############### <br> ############### / <span>690.000<sup>đ</sup></span>
                            </td>
                            <td>-60%</td>
                            <td>1</td>
                            <td>276.000 <sup>đ</sup></td>
                        </tr>
                        <tr>
                            <td>############### <br> L / ############### <br> ############### / <span>690.000<sup>đ</sup></span>
                            </td>
                            <td>-60%</td>
                            <td>1</td>
                            <td>276.000 <sup>đ</sup></td>
                        </tr>
                        <tr>
                            <td colspan="3">Total amount (<span>2.070.000<sup>đ</sup></span>)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">Provisional </td>
                            <td><span>828.000<sup>đ</sup></span></td>
                        </tr>
                        <tr>
                            <td colspan="3">Courier delivery - Express delivery </td>
                            <td>0<sup>đ</sup></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>Payments</span> </td>
                            <td><span>828.000<sup>đ</sup></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>